* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background: url('../../public/gradienta.jpeg') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    overflow-y: hidden;
}

.score {
    display: flex;
    justify-content: center;
    align-items: center;
    color:aliceblue;
    margin-top: 10px;
}